@import url('https://fonts.googleapis.com/css2?family=Montaga&display=swap');
*{
    font-family:'Montaga';
}
body{
    background-image: url(meds\ image.jpg);
}
.container h1{
    text-align:center;
}
.container1{
    background-color: rgba(88, 84, 84, 0.4); 
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    border-radius: 40px 0px 60px 0px;
    /* position: absolute; */
    /* top: 50%; */
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */
    z-index: 2;
    width: 50%;
    min-height:40%;
    padding: 20px;
    margin:auto;
    text-align: center;
    vertical-align:middle;
  }
  .container1{
      font-size: 20px;
  } 
 a:hover{
     text-decoration: none;
 }