@import url('https://fonts.googleapis.com/css2?family=Montaga&display=swap');
*{
    font-family:'Montaga';
}
h1{
    text-align: center; 
}
.box h3{
    color:red;  
}
.box{
    border:3px solid black;
    padding:18px;
}
body{
    background-image: url(1282794.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    backdrop-filter: blur(9px);
}
img{
    filter:blur(5px);
}
.container{
    z-index: 2;
    background-color: rgba(0,0,0, 0.4); 
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    width: 100%;
    padding: 20px;
    text-align: center;
}
.container1{
    z-index: 2;
    background-color: rgba(0,0,0, 0.4); 
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    width: 100%;
    padding: 20px;
    text-align: center;
}
/* .container1{
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0, 0.4); 
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
  }*/
  .bed{
    padding: 10px;
    box-shadow: 0px 10px 18px #888888;
    text-align: center;
    width:500px;
    margin: auto;
    padding:80px;
    height:200px;
  }
  .parent{
      display:flex;
      flex-direction:row;
  }
  